{% extends 'base.html' %}

{% block content %}
<h1>{{ title }}</h1>

{% include 'program/includes/nav.html' only with title2='ffff' %}

<ul>
    {% for p in posts %}
    {% if p.is_published %}
    <li>
        <h2>{{ p.title }}</h2>
        <p>{{ p.content }}</p>
        <p><a href="{% url 'post' p.id %}">Read post</a></a></p>
        {% if not forloop.last %}
        <hr>
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>

{% include 'program/includes/nav.html' %}

{% endblock %}